<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<header>
    <h1><a href="base.html">Pop@Itaewon Guesthouse</a></h1>
</header>
<nav>
    <ul>
        <li><a href="sitepage/about.html">About</a></li>
        <li><a href="sitepage/home.html">Home</a></li>
    </ul>
</nav>
<section>
    <article>
        <h2>안녕하세요</h2>
        행복하세요.
        <h2>안녕하가세요</h2>
        행복하세요.
    </article>
</section>
<footer>
    <ul>
        <li>개인보호정책</li>
        <li>주식회사</li>
    </ul>
</footer>
</body>
</html>